<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.by.mapper.TypeMapper">
    <insert id="saveType" parameterType="type">
        insert into blog.t_type(name) values (#{name})
    </insert>
    <select id="getType" parameterType="long" resultType="type">
        select id,name from blog.t_type where id = #{id}
    </select>
    <select id="listType" resultType="type">
        select * from t_type
    </select>
    <select id="getTypeByName" parameterType="string" resultType="type">
        select name from t_type where name = #{name}
    </select>
    <select id="getTypeWithBlogsOrderTop" resultMap="typeAndBlogs">
        select t.id,t.name,b.id bid from t_type t inner join t_blog b
        on b.type_id = t.id
        where b.published = true
    </select>
    <resultMap id="typeAndBlogs" type="type">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="blogs" ofType="blog" javaType="java.util.ArrayList">
            <id property="id" column="bid"/>
        </collection>
    </resultMap>
    <update id="updateType" parameterType="type">
        update t_type set name = #{name} where id = #{id}
    </update>
    <delete id="deleteType" parameterType="long">
        delete from t_type where id = #{id}
    </delete>
</mapper>